@import url("../lib/font/Roboto/Roboto.css");

body {
  color: #323232;
  font-family: "Roboto", sans-serif;
}

.logo-row {
  height: 80px;
}

.logos img {
  height: 60px;
}

.row {
  margin-right: 0px;
}

.nav-link {
  padding-left: 10px;
}

.rs-header {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 1px;
  min-height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/mountain.png");
}

.rs-header-logo {
  max-height: 100px;
  padding: 5px;
}

.header-tag-line {
  padding: 5px;
  color: #cccccc;
  font-size: 1.5em;
}

.rs-header-content {
  height: 100%;
}

.expertise h5 {
  font-size: 1.5em;
  font-weight: 700;
  color: #B52626;
}

.expertise p {
  font-size: 1.2em;
}

#customers h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: #B52626;
}


#contact {
  background: rgb(52, 58, 64);
  color: white;
}

.footer {
  color: #cccccc;
  background-color: black;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 0.9em;
}