@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background-color: black;
  color: white;
  font-family: Roboto;
}

.centered {
  position: fixed;
  top: 45%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-45%, -50%);
}

.message {
  font-size: 2em;
  color: #CCCCCC;
  margin-left: -50px;
}

.date {
  font-size: 5em;
}
